# Created by .ignore support plugin (hsz.mobi)
.idea/.gitignore
.idea/SAPublicNotes.iml
.idea/dataSources.xml
.idea/inspectionProfiles/
.idea/markdown-navigator-enh.xml
.idea/markdown-navigator.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
__pycache__/
templates/issues/

users/users.db
